cryptography
dnspython
joblib
numpy
piexif
Pillow
pycryptodome
pqcrypto
PySocks
phonenumbers
requests
stem
shiboken6
requests
matplotlib
pynacl
psutil
httpx
aiohttp
aiohttp_socks
beautifulsoup4
requests
rich
stem
tls-client
spacy
pytesseract
thinc
